@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark .bg-gray-100 {
  background-color: rgb(28, 34, 43); /* Fundal în dark mode */
}

body {
  background-color: #fefefe; /* Fundal clar */
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
