@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark .bg-gray-100 {
  background-color: #2d3748; /* Fundal în dark mode */
}

body {
  background-color: #fefefe; /* Fundal clar */
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
