@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fefefe; /* Fundal clar */
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
